<h2> Showing articles </h2>

<ul>
  <li> title : <%= @article.title %> </li>
  <li> description : <%= @article.description %> </li>
</ul>
<%= link_to "Edit Articles", edit_article_path(@article) %> </br>
<%= link_to "Back to Articles", articles_path %>